<footer>
	<div class='d-flex justify-content-center mt-3'>
		<p class="copyright text-white">&copy; 2005-<%- new Date().getFullYear() %> Vincent Porter - All rights reserved</p>
	</div>
</footer>

<button class='btn btn-primary btn-lg' onclick="topFunction()" id="myBtn" title="Go to top">Top <span><i class="bi bi-arrow-up"></i></span></button>

<script src="scripts/bootstrap.bundle.min.js"></script>
<script src="scripts/scripts.js"></script>

</body>

</html>