<!-- Testimonials -->
<section id="testimonials" class="container text-white testimonials">
	<div class="">
		<div class="row">
			<h1 class="display-3 fw-bold">Testimonials</h1>
			<p class="lead pt-1">What my clients are saying<i class="bi bi-exclamation-lg"></i></p>
		</div>
		<!-- START THE CAROUSEL CONTENT  -->
		<div class="row">
			<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					<!-- CAROUSEL ITEM 1 -->
					<div class="carousel-item active pb-0">
						<!-- testimonials card  -->
						<div class="testimonials__card d-flex align-items-center">
							<div class="text-dark">
								<p class='mb-0'><i class="bi bi-chat-right-quote-fill"></i> "I recently had the pleasure of working with Vince on a web development project. He was extremely knowledgeable and helpful throughout the entire process. His development skills were top-notch, and he was able to quickly create a website that was both aesthetically pleasing and highly functional. He also provided excellent hosting services that allowed us to launch the website quickly and efficiently."<br>"I can come to Vince, get great service, and check out feeling brilliant.!"</p>
								<div>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
								</div>
							</div>
						</div>
						<!-- client picture  -->
						<div class="testimonials__picture">
							<img src="https://randomuser.me/api/portraits/women/64.jpg" alt="client-1 picture" class="rounded-circle img-fluid">
						</div>
						<!-- client name & role  -->
						<div class="testimonials__name mb-0 p-b">
							<h3>Ms Scarlett Fernandez</h3>
							<em class='my-0'>"Geelong, Victoria"</em>
						</div>
					</div>
					<!-- CAROUSEL ITEM 2 -->
					<div class="carousel-item pb-0">
						<!-- testimonials card  -->
						<div class="testimonials__card d-flex align-items-center">
							<div class="text-dark">
								<p class='mb-0'><i class="bi bi-chat-right-quote-fill"></i> "I recently worked with a web development team led by Vince and I couldn't be happier with the results. They provided excellent development, design, and hosting services that allowed us to create a website that was both visually appealing and functional."<br>"I highly recommend Vince and his team for any web development project!"</p>
								<div>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-half"></i>
								</div>
							</div>
						</div>
						<!-- client picture  -->
						<div class="testimonials__picture">
							<img src="https://randomuser.me/api/portraits/men/84.jpg" alt="client-2 picture" class="rounded-circle img-fluid">
						</div>
						<!-- client name & role  -->
						<div class="testimonials__name mb-0 p-b">
							<h3>Mr Javier Richards</h3>
							<em class='my-0 pb-1'>"Kalgoorlie, Western Australia"</em>
						</div>
					</div>
					<!-- CAROUSEL ITEM 3 -->
					<div class="carousel-item pb-0">
						<!-- testimonials card  -->
						<div class="testimonials__card d-flex align-items-center">
							<div class="text-dark">
								<p class='mb-0'><i class="bi bi-chat-right-quote-fill"></i> "I recently had the pleasure of working with Vince on a web development project. He was great to work with - he was very knowledgeable about development, design, and hosting, and he was able to provide great advice and guidance throughout the process."<br>"I would highly recommend Vince for any web development project!"</p>
								<div>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star"></i>
								</div>
							</div>
						</div>
						<!-- client picture  -->
						<div class="testimonials__picture">
							<img src="https://randomuser.me/api/portraits/women/52.jpg" alt="client-3 picture" class="rounded-circle img-fluid">
						</div>
						<!-- client name & role  -->
						<div class="testimonials__name mb-0 p-b">
							<h3>Miss Leta Banks</h3>
							<em class='my-0 pb-1'>"Mildura, Victoria"</em>
						</div>
					</div>
				</div>
				<!-- carousel buttons -->
				<div class="text-center pt-2">
					<button class="btn btn-secondary bi bi-arrow-left" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
					</button>
					<button class="btn btn-secondary bi bi-arrow-right" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
					</button>
				</div>
			</div>
		</div>
	</div>
	<hr class="border border-white border-2">
</section>